HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
# Java
target/
*.log

# Node
node_modules/
dist/
build/

# Env
.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

